html, body {
  height: 100%;
  min-height: 100%;
}

.main {
	padding: 60px 20px 20px 20px;
	margin: 0 auto;
	height: 88%;
}

/* .request-list-block {
	padding-top: 10px;
	text-align:center;
}

.request-list-block a{
	text-decoration: underline;
	color: #222222;
}

.request-list-block a:hover{
	text-decoration: underline;
	color: #337ab7;
}

.request-list{
    padding-top: 0;
    margin-top: 0;
    display:inline-block;
    float:none;
    text-align: left;
    vertical-align: top;
} */

.body-panel {
    padding-top: 80px;
}

.instruction-panel {
    margin: 0px 20px 0px 70px;
    background-color: rgba(76, 175, 80, 0.1);
    color: rgb(72, 72, 72);
    font-size: 16px;
    font-weight: 300;
}

.instruction-panel > h1 {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}

.instruction-panel > h2 {
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    color: #43a047;
}

.instruction-panel > ul > li{
    list-style-type:none;
    margin: 20px 0;
}

.instruction-panel > ul > li > ul > li{
    margin-left: -20px;
}

.instruction-panel > ul > li:before{
    content: "\e013";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    float: left;
    margin-top: 4px;
    margin-left: -24px;
    color: rgb(72, 72, 72);
}

.panel-command {
    text-align: left;
    font-size: 20px;
}

.footer{
    text-align: left;
    margin-left: 70px;
    color: rgb(108, 108, 108);
}
