.body-panel {
    padding-top: 90px;
}

.url-content-panel {
    overflow: hidden;
}

.url-content-data {
    width: 100%;
}

.url-panel > h1 {
    text-align: left;
    font-size: 16px;
    font-weight: 300;
}

.collect-panel > h1 {
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
}

.collect-box {
    padding-top: 20px;
}

.annotation-box {
    padding-top: 20px;
}

.command-submission {
    background: #F0F0F0;
}

.annotate-utility-in-progress {
    background-color: #ABEBC6;
}

.annotate-utility-completed {
    background-color: #28B463;
}
