{% extends "translator/base.html" %}
{% block body %}
<div id="about">
    <p>Hello,</p>
    <p>Tellina is a natural language to bash commands translator aiming to reduce end-users' programming and learning efforts. For example, it is able to translate a sentence like "Find text file in the current folder" into a bash command <code> find . -name "*.txt". </code>.
    </p>
    <p>The system is written in Python and uses <a href="https://github.com/idank/bashlex">bashlex</a>, <a href="https://www.tensorflow.org/versions/r0.9/get_started/os_setup.html">Tensorflow</a> and Django. Source code is available <a href="https://github.com/TellinaTool/tellina">on github</a>.
    </p>
</div>
{% endblock %}
