<!DOCTYPE html>
<html>
    <head>
        <title>Tellina - a natural language to bash translation tool</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <!--<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">-->
        <link href="/static/css/font-awesome.min.css" rel="stylesheet" media="screen">
        <!--<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">-->
        <link href="/static/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />

        <link href="/static/css/tellina.css" rel="stylesheet" media="screen">
        <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
        <meta name="description" content="natural language command to bash translation interface">
        <link rel="shortcut icon" href="/static/img/tellina.png"/>

        {% block head %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-static-top navbar-full">
             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="https://github.com/todpole3/tellina"><i class="icon-github"></i> Github</a></li>
                <li><a href="/info">Info</a></li>
                <li><a onclick="startIntro();">Help</a></li>
              </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
        <script src="/static/js/jquery-3.1.1.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/underscore.js"></script>
        <!--<script src="/static/js/bootstrap.min.js"></script>-->
        <script src="/static/lib/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
        <!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>-->
        <script src="/static/js/tellina.js"></script>
        {% block other-js %}{% endblock %}
    </body>
</html>
