{% extends "translator/base.html" %}
    {% block head %}
        <!--<link rel="stylesheet"
               href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
        -->
        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="stylesheet" href="/static/css/introjs.min.css">
    {% endblock %}
    {% block body %}
        <div class="container main">
            <h1 style="font-size:56px" id="intro1">Tellina</h1>
            <p class="text-center subtitle" style="font-size:16px">
                Commanding your terminal with natural language.
            </p>
            <div class="search-panel">
                <div class="form-group">
                    <form class="form-block" action="/translate/" method="POST">{% csrf_token %}
                        <input id="translate" class="form-control search-box" type="text" name="request_str"
                                       autocapitalize="off" autocorrect="off">
                        <div class="small-push"></div>
                        <button id="submit-to-tellina" class="search-btn" type="submit">Translate to Bash</button>
                        <button id="google-command" type="button" class="search-btn" target="_blank"> Search with Google </button>
                    </form>
                </div>
            </div><!-- /.search-panel -->
            <div class="row request-list-block">
                {% if example_request_list %}
                    <div class="col-md-4 request-list">
                        <h5> Examples </h5>
                        <ul>
                            {% for request_str in example_request_list %}
                                <li><a href="/translate?request_str={{request_str}}">
                                    {{request_str}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if latest_request_list %}
                    <div class="col-md-4 request-list">
                        <h5> Recently Asked </h5>
                        <ul>
                            {% for request in latest_request_list %}
                                <li><a href="/translate?request_str={{request.request_str}}">
                                    {{request.request_str}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endblock %}
    {% block other-js %}
        <script>
            $("#translate").focus();
            $("#google-command").click(function() {
                nl_cmd = $("#translate").val();
                href="https://www.google.com/search?q=" + nl_cmd;
                window.open(href);
            });
        </script>
        <script type="text/javascript" src="/static/js/intro.min.js"></script>
        <script type="text/javascript">
         function startIntro(){
             var intro = introJs();
             intro.setOptions({
                 steps: [
                     {
                         element: '#translate',
                         intro: "Type your query here. Tellina works best when you enter full sentences. Try something like \"remove all pdfs in my current directory\"."
                     },
                     {
                         element: '#submit-to-tellina',
                         intro: "Now search for a relevant bash command! Click <span style=\"font-weight:bold\">Help</span> on the next page to continue the tutorial."
                     },
                 ]
             });
             intro.start();
         }
        </script>
    {% endblock %}
