{% extends "translator/base.html" %}
    {% block head %}
        <!--<link rel="stylesheet"
               href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
        -->
        <link rel="stylesheet" href="/static/css/index.css">
    {% endblock %}
    {% block body %}
        <div class="container main">
            <h1>Tellina</h1>
            <h4 class="text-center subtitle">
                Commanding your terminal with natural language.
            </h4>
            <div class="search-panel">
                <div class="form-group">
                    <form class="form-block" action="/translate/" method="POST">{% csrf_token %}
                        <input id="translate" class="form-control search-box" type="text" name="request_str"
                                       autocapitalize="off" autocorrect="off">
                        <div class="small-push"></div>
                        <button id="submit-to-tellina" class="search-btn" type="submit">Translate</button>
                        <button id="google-command" type="button" class="search-btn" target="_blank"> Search with Google </button>
                    </form>
                </div>
            </div><!-- /.search-panel -->
            <div id="recent-questions" class="center-block">
                <div class="request-suggestion">
                    {% if latest_request_list %}
                        <h5> Recently Asked Questions </h5>
                        <ul>
                            {% for request in latest_request_list %}
                                <li><a href="/translate?request_str={{request.request_str}}">
                                    {{request.request_str}}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}
    {% block other-js %}
        <script>
            $("#translate").focus();
            $("#google-command").click(function() {
                nl_cmd = $("#translate").val();
                href="https://www.google.com/search?q=" + nl_cmd;
                window.open(href);
            });
        </script>
    {% endblock %}
