{% extends "translator/base.html" %}
    {% block head %}
        <!--<link rel="stylesheet"
               href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
        -->
        <link rel="stylesheet" href="/static/lib/hljs.themes/tomorrow.css">
        <link rel='stylesheet' href='/static/css/perfect-scrollbar.css'>
        <!-- <link rel='stylesheet' href='/static/css/docs.min.css'>-->
        <link href="/static/lib/jquery.upvote/jquery.upvote.css" rel="stylesheet" media="screen">
    {% endblock %}
    {% block body %}
        <div class="container">
            <div class="push"></div>
            <div class="small-push"></div>
            <div class="header" >
                <div style="position: relative;">
                    <ul class="inline menu">
                        {% if nl_request %}
                            <li><a href="/">Tellina</a></li>
                            <li>
                                <form action='/translate/' method='POST'>{% csrf_token %}
                                    <input id="top-search" type="text" name="request_str"
                                           autocapitalize="off" autocorrect="off"
                                           value="{{nl_request.request_str}}">
                                </form>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="push"></div>
            <div id="suggestions">
                <div class="center-block">
                    {% if translation_list %}
                        {% for translation in translation_list %}
                            <!-- <div class="well">
                                <table class="oneliner">
                                    <tr>
                                        <td style="vertical-align: top; width: 0px">
                                            <div class="upvote upvote-programmers">
                                                <a class="upvote "></a>
                                                <span class="count">{{translation.num_votes}}</span>
                                                <a class="downvote "></a>
                                                <a class="star "></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="span7">
                                                <code class="bash">
                                                    # {{forloop.counter}}<br>
                                                    {{translation.pred_cmd}}<br>
                                                    <br>
                                                 </code>
                                            </div>
                                            <div class="explanation">
                                                <h4>Explanation</h4>
                                                <p>I am a placeholder.</p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div> -->
                            <div class="oneliner">
                                <div class="offset2 span8">
                                    <code class="bash" id="oneliner-{{forloop.counter}}">
                                        # {{forloop.counter}}
                                        <br>
                                        <span id="pred_cmd-{{forloop.counter}}">
                                            {{translation.pred_cmd}}
                                        </span>
                                        <br>
                                    </code>
                                </div>
                                <button type="button" class="btn btn-copy" data-clipboard-target="#pred_cmd-{{forloop.counter}}">
                                    <img src="/static/img/clippy.svg" width="14"></img>
                                </button>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="translation-error">
                            <p>Oops! Something went wrong...</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}
    {% block other-js %}
        <script src='/static/js/clipboard.min.js'></script>
        <script src='/static/js/perfect-scrollbar.js'></script>
        <script src='/static/js/perfect-scrollbar.jquery.js'></script>
        <script src="/static/lib/jquery.upvote/jquery.upvote.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
        <script src="/static/lib/hljs.themes/bash.js"></script>
        <script>
            $(document).ready(function() {
                $('div code').each(
                    function(i, block) {
                        hljs.highlightBlock(block);
                    }
                );
            });
        </script>
        <script>
            var clipboard = new Clipboard('.btn-copy');

            function setTooltip(btn, message) {
                $(btn).tooltip('hide')
                .attr('data-original-title', message)
                .tooltip('show');
            }

            function hideTooltip(btn, message) {
                setTimeout(function() {
                $(btn).tooltip('hide');
                }, 1000);
            }

            clipboard.on('success', function(e) {
                // console.info('Action:', e.action);
                // console.info('Text:', e.text);
                setTooltip(e.trigger, 'Copied!');            
                e.clearSelection();
                hideTooltip(e.trigger, 'Copy to clipboard');
            });

            clipboard.on('error', function(e) {
                console.error('Action:', e.action);
                console.error('Trigger:', e.trigger);
            });
        </script>
        <script>
            $('.btn-copy').tooltip({
                trigger: 'click',
                placement: 'top'
            });
        </script>
    {% endblock %}
