{% extends "translator/base.html" %}
    {% block head %}
        <!--<link rel="stylesheet"
               href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
        -->
        <link rel="stylesheet" href="/static/lib/hljs.themes/tomorrow.css">
        <link rel='stylesheet' href='/static/css/perfect-scrollbar.css'>
        <link href="/static/lib/jquery.upvote/jquery.upvote.css" rel="stylesheet" media="screen">
    {% endblock %}
    {% block body %}
        <div class="container">
            <div class="push"></div>
            <div class="small-push"></div>
            <div class="header" >
                <div style="position: relative;">
                    <ul class="inline menu">
                        {% if nl_request %}
                            <li><a href="/about">about</a></li>
                            <li>
                                <a href="https://github.com/todpole3/tellina">
                                    <i class="icon-github"></i>
                                </a>
                            </li>
                            <li>
                                <form action='/translate/' method='POST'>{% csrf_token %}
                                    <input id="top-search" type="text" name="request_str"
                                    autocapitalize="off" autocorrect="off"
                                           placeholder="{{nl_request.request_str}}">
                                </form>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="push"></div>
            <div class="offset2 span8" id="suggestions">
                <div class="center-block">
                    {% if translation_list %}
                        {% for translation in translation_list %}
                            <div class="well">
                                <table class="oneliner">
                                    <tr>
                                        <td style="vertical-align: top; width: 50px">
                                            <div class="upvote upvote-programmers">
                                                <!-- comming soon!
                                                <a class="upvote "></a>
                                                <span class="count">{{translation.num_votes}}</span>
                                                <a class="downvote "></a>
                                                    <a class="star "></a>
                                                -->
                                            </div>
                                            <div class="small-push"></div>
                                            <div class="index">{{forloop.counter}}</div>
                                        </td>
                                        <td>
                                            <div class="span7">
                                                <code class="bash">
                                                    <br>
                                                    {{translation.pred_cmd}}<br>
                                                    <br>
                                                 </code>
                                                 <div class="score">
                                                    <small><b>score: </b>{{translation.score | floatformat:-4}}</small>
                                                <div>
                                            </div>
                                            <!-- coming soon!
                                            <div class="explanation">
                                                <h4>Explanation</h4>
                                                <p>I am a placeholder.</p>
                                            </div>
                                            -->
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="translation-error">
                            <p>Oops! Something went wrong...</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}
    {% block other-js %}
        <script src='/static/js/perfect-scrollbar.js'></script>
        <script src='/static/js/perfect-scrollbar.jquery.js'></script>
        <script src="/static/lib/jquery.upvote/jquery.upvote.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
        <script src="/static/lib/hljs.themes/bash.js"></script>
        <script>
            $(document).ready(function() {
              $('div code').each(function(i, block) {
                hljs.highlightBlock(block);
              });
              /* $('span code').each(function(i, block) {
                Ps.initialize(block);
                $('span code').scrollTop(100).perfectScrollbar('update');
              }); */
            });
        </script>
    {% endblock %}
