{% extends "translator/base.html" %}
    {% block head %}
        <!--<link rel="stylesheet"
               href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
        -->
        <link rel="stylesheet" href="/static/lib/hljs.themes/tomorrow.css">
        <link rel='stylesheet' href='/static/css/perfect-scrollbar.css'>
        <link href="/static/lib/jquery.upvote/jquery.upvote.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="/static/css/translate.css">
    {% endblock %}
    {% block body %}
        <div class="translate-panel">
            {% if nl_request %}
            <div class="form-group">
                <form class="form-block" action="/translate/" method="POST">{% csrf_token %}
                    <div class="input-group">
                      <input id="translate" class="form-control search-box" type="text" name="request_str" autocapitalize="off" autocorrect="off" value="{{nl_request.request_str}}">
                      <span class="input-group-btn">
                        <button id="submit-to-tellina" class="btn btn-default" type="submit">Tellina</button>
                        <button id="google-command" type="button" class="btn btn-default" target="_blank">Google </button>
                      </span>
                    </div>
                </form>
            </div>
            {% endif %}
            <div id="suggestions">
                <div class="center-block">
                    {% if trans_list %}
                        {% for translation, to_expl_cmd, html_str in trans_list %}
                            <div class="well offset1 span10">
                                <table class="cmd-result">
                                    <tr>
                                        <td>
                                            <code class="bash hljs" id="oneliner-{{forloop.counter}}">
                                                <span id="pred-cmd-{{forloop.counter}}" class="command">
                                                    {{html_str | safe}}
                                                </span>
                                            </code>
                                        </td>
                                        <td align="right" style="width: 100px;">
                                            <button type="button" class="btn btn-default btn-copy"
                                                data-clipboard-target="#pred-cmd-{{forloop.counter}}"
                                                id="copy-btn-{{forloop.counter}}">
                                                <img src="/static/img/clippy.svg" width="14">
                                            </button>
                                            <button type="button" class="btn btn-default btn-expl"
                                                id="expl-btn-{{forloop.counter}}"
                                                onclick="window.open('http://explainshell.com/explain?cmd={{to_expl_cmd}}')">
                                                <img src="/static/img/gear.svg" width="14">
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        {% endfor %}
                    {% else %}
                    <div class="translation-error">
                        <p>Oops! Something went wrong...</p>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}
    {% block other-js %}
        <script src='/static/js/clipboard.min.js'></script>
        <script src='/static/js/perfect-scrollbar.js'></script>
        <script src='/static/js/perfect-scrollbar.jquery.js'></script>
        <script src="/static/lib/jquery.upvote/jquery.upvote.js"></script>
        <script src="/static/js/hljs-9.8.0.min.js"></script>
        <script src="/static/lib/hljs.themes/bash.js"></script>
        <script>

            // implement trim if the browser does not support it
            if (!String.prototype.trim) {
                (function() {
                    // Make sure we trim BOM and NBSP
                    var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                    String.prototype.trim = function() {
                        return this.replace(rtrim, '');
                    };
                })();
            }

            // replacing linebreaks etc with html things
            String.prototype.replaceAll = function(search, replacement) {
              var target = this;
                return target.split(search).join(replacement);
            };
            function htmlForTextWithEmbeddedNewlines(text) {
              var htmls = [];
              var lines = text.trim().replaceAll("\t", "    ").replaceAll(/ /g, ' ').split("\n");
              // The temporary <div/> is to perform HTML entity encoding reliably.
              // Don't need jQuery but then you need to struggle with browser
              // differences in innerText/textContent yourself
              var tmpDiv = jQuery(document.createElement('div'));
              for (var i = 0 ; i < lines.length ; i++) {
                htmls.push(tmpDiv.text(lines[i]).html());
              }
              return htmls.join("<br>");
            }

            $(document).ready(function() {
                // We don't need to use the following function call anymore since our too generates the commands directly in backend.
                /*$('div code').each(
                    function(i, block) {
                        hljs.highlightBlock(block);
                    }
                );*/

                // set tooltip for each span inside command
                $('.command span').tooltip({
                    placement: 'bottom',
                    html: true,
                    // Hover over the tooltip will trigger the code to access the code
                    title: function () {
                        dominate_cmd = $(this).attr("dominate_cmd");
                        dominate_flag = $(this).attr("dominate_flag");

                        var local_data = "error";

                        $.ajax({
                            type: 'get',
                            async: false,
                            url: '/explain_cmd',
                            data: { 
                                cmd_head : dominate_cmd, 
                                flag_name : dominate_flag
                            },
                            success: function (data) {
                                local_data = data;
                            }
                        });

                        return  "<p>" 
                                + htmlForTextWithEmbeddedNewlines(local_data) 
                                + "</p>";
                    }
                });

                var num_suggestions = 100;
                for (var i=1; i<=num_suggestions; i++) {
                    $('#copy-btn-' + i).height($('#oneliner-' + i).height() + 4);
                    $('#expl-btn-' + i).height($('#oneliner-' + i).height() + 4);
                    $('#copy-btn-' + i).attr({
                        'data-original-title': 'Copy to clipboard'
                    });
                    $('#expl-btn-' + i).attr({
                        'data-original-title': 'Explain the command'
                    });
                }
            });
        </script>
        <script>
            var clipboard = new Clipboard('.btn-copy');

            function setTooltip(btn, message) {
                $(btn).tooltip('hide')
                .attr('data-original-title', message)
                .tooltip('show');
            }

            function hideTooltip(btn) {
                i = btn.id.split('-').slice(-1)[0];
                if (i == '1') {
                    setTimeout(function() {
                        $(btn).tooltip('hide')
                        .attr('data-original-title', 'Copy to clipboard');
                    }, 1000);
                } else {
                    setTimeout(function() {
                        $(btn).tooltip('hide')
                        .attr('data-original-title', '');
                    }, 1000);
                }
            }

            clipboard.on('success', function(e) {
                // console.info('Action:', e.action);
                // console.info('Text:', e.text);
                e.clearSelection();
                setTooltip(e.trigger, 'Copied!');
                hideTooltip(e.trigger);
            });

            clipboard.on('error', function(e) {
                console.error('Action:', e.action);
                console.error('Trigger:', e.trigger);
            });
        </script>
        <script>
            $('.btn-copy').tooltip({
                placement: 'top'
            });
            $('.btn-expl').tooltip({
                placement: 'bottom'
            });
            $("#google-command").click(function() {
                nl_cmd = $("#translate").val();
                href="https://www.google.com/search?q=" + nl_cmd;
                window.open(href);
            });
        </script>
    {% endblock %}
