{% extends "translator/base.html" %}
    {% block head %}
        <!--<link rel="stylesheet"
               href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
        -->
        <link rel="stylesheet" href="/static/lib/hljs.themes/tomorrow.css">
        <link rel='stylesheet' href='/static/css/perfect-scrollbar.css'>
        <link href="/static/lib/jquery.upvote/jquery.upvote.css" rel="stylesheet" media="screen">
    {% endblock %}
    {% block body %}
        <div class="container">
            <div class="push"></div>
            <div class="small-push"></div>
            <div class="header" >
                <div style="position: relative;">
                    <ul class="inline menu">
                        {% if True %}
                            <li><a href="/">Tellina</a></li>
                            <li>
                                <a href="/translate/"><i class="icon-undo"></i></a>
                            </li>
                            <li>
                                <form action='/translate/' method='POST'>{% csrf_token %}
                                    <input id="top-search" type="text" name="request_str"
                                           autocapitalize="off" autocorrect="off"
                                           value="{{nl_request.request_str}}">
                                </form>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <iframe
                style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:100px;left:0px;right:0px;bottom:0px"
                width="100%" height="100%" src="http://www.stanford.edu"
                frameborder="0" allowfullscreen>
        </iframe>
    {% endblock %}