{% extends "annotator/base.html" %}
    {% block head %}
        <link rel="stylesheet" href="/static/css/annotator/panel.css">
    {% endblock %}

    {% block body %}
        {% block navbar %}
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a class="logout">Logout ({{access_code}})</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        {% endblock %}
        <div class="container" style="padding-top: 60px">
            <div class="row">
                <div class="col-md-8 col-md-offset-0 col-xs-12 col-xs-offset-0 utility-button-group" style="text-align:left">
                {% if utility_groups %}
                    {% for utility_group1, utility_group2 in utility_groups %}
                        {% for utility, completion_ratio in utility_group1 %}
                            {% if completion_ratio > 0.5 %}
                                <button type="button" class="btn btn-default annotate-utility annotate-utility-completed">{{utility}}</button>
                            {% elif completion_ratio > 0 %}
                                <button type="button" class="btn btn-default annotate-utility annotate-utility-in-progress">{{utility}}</button>
                            {% elif completion_ratio < 0 %}
                                <button type="button" class="btn btn-default annotate-utility">{{utility}}</button>
                            {% endif %}
                        {% endfor %}
                        <br>
                        <br>
                        {% for utility, completion_ratio in utility_group2 %}
                            {% if completion_ratio > 0.5 %}
                                <button type="button" class="btn btn-default annotate-utility annotate-utility-completed">{{utility}}</button>
                            {% elif completion_ratio > 0 %}
                                <button type="button" class="btn btn-default annotate-utility annotate-utility-in-progress">{{utility}}</button>
                            {% elif completion_ratio == -1 %}
                                <button type="button" class="btn btn-default annotate-utility disabled" style="text-decoration: line-through">{{utility}}</button>
                            {% else %}
                                <button type="button" class="btn btn-default annotate-utility">{{utility}}</button>
                            {% endif %}
                        {% endfor %}
                        <hr>
                    {% endfor %}
                {% endif %}
                </div>
                <div class="col-md-4 col-xs-12 utility-stats" style="display:None">
                    <p># urls annotated: <span class="num-urls-annotated"></span></p>
                    <p># pairs annotated: <span class="num-pairs-annotated"></span></p>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block other-js %}
    <script src="/static/js/annotator/main.js"></script>

    <script>
        $(document).ready(function () {
            $('.utility-button-group').hover(
                function() { $('.utility-stats').show(); },
                function() { $('.utility-stats').hide(); }
            );

            $('.annotate-utility').hover(
                function() {
                    $.get(`get_utility_stats`, {utility: $(this).text()}, function(data) {
                        if (data.status == 'UTILITY_STATS_SUCCESS') {
                            $('.utility-stats').show();
                            $('.num-urls-annotated').text(data.num_urls);
                            $('.num-pairs-annotated').text(data.num_pairs);
                        }
                    });
                },
                function() {
                }
            );

            $(".annotate-utility").click(function() {
                var utility = $(this).text();
                window.location.replace(`url_panel?utility=${utility}`);
            });
        });
    </script>
    {% endblock %}
