{% extends "translator/base.html" %}
    {% block head %}
        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="stylesheet" href="/static/css/snapshot.css">
        <link rel="stylesheet" href="/static/css/introjs.min.css">

        <link rel="stylesheet" href="/static/lib/hljs.themes/tomorrow.css">
    {% endblock %}

    {% block body %}
        <div class="body-panel">
            <div class="row">
                <div class="col-sm-5 col-xs-12">
                    <div class="well instruction-panel ">
                        <h1>Commanding your terminal with natural language</h1>

                        <h2>Tellina automatically translates the input into executable bash commands using deep learning.
                            <!-- <button type="button" class="btn btn-primary btn-xs">Examples</button>-->
                        </h2>

                        <div class="tiny-push"></div>

                        <ul>
                            <li>Type a grammatical imperative English sentence (not a question) stating your goal.</li>
                            <li>Tellina works best for specific inputs. For example,
                                <ul>
                                    <li>instead of "some files", use "pdf files";</li>
                                    <li>instead of "sometime ago", use "5 days ago".</li>
                                </ul>
                            <li>Put names, strings and regular expressions in quotes <code>""</code> often improves the translation.</li>
                            <li>Add <code>/</code> to the end of a directory name so that Tellina interprets it as a folder.</li>
                        </ul>
                    </div>
                    <div class="small-push"></div>
                    <footer>
                        <div class="footer"><small>This website is under active construction. <a href="mailto:xilin@cs.washington.edu?Subject=Tellina%20Website" target="_top">Email us</a> if you have any suggestion.</small></div>
                    </footer>
                </div>
                {% if latest_request_list %}
                    <div class="recent-post-panel col-sm-6 col-xs-12">
                        {% for request, top_ranked_cmd in latest_request_list %}
                            <div class="row">
                                <div class="[ panel panel-default ] panel-google-plus">
                                    <!-- <div class="dropdown">
                                        <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                                            <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                                        </span>
                                        <ul class="dropdown-menu" role="menu">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                            <li role="presentation" class="divider"></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                                        </ul>
                                    </div> -->
                                    <div class="panel-google-plus-tags">
                                        <ul>
                                            <li><code>find</code></li>
                                        </ul>
                                    </div>
                                    <div class="panel-request">
                                        <!-- <img class="[ img-circle pull-left ]" src="https://lh3.googleusercontent.com/-CxXg7_7ylq4/AAAAAAAAAAI/AAAAAAAAAQ8/LhCIKQC5Aq4/s46-c-k-no/photo.jpg" alt="Mouse0270" /> -->
                                        <i class="glyphicon glyphicon-user"></i>&nbsp;
                                        <span class="nl-request">{{request.request_str.str}}</span><br>
                                        <span class="post-time"><i class="glyphicon glyphicon-time"></i>&nbsp;{{request.submission_time}}</span>&nbsp;
                                        <span class="post-location"><i class="glyphicon glyphicon-map-marker"></i>&nbsp;
                                            {{request.user.city}}, {{request.user.region}}, {{request.user.country}}</span>
                                    </div>
                                    <div class="panel-body">
                                        <div style="margin: 0px 20px 0px 20px">
                                            <code class="panel-command command bash hljs">
                                                {{top_ranked_cmd}}
                                            </code>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <button type="button" class="[ btn btn-default expand-translation-instance ]">
                                            <span class="[ glyphicon glyphicon-option-vertical ]"></span>
                                        </button>
                                        <button type="button" class="[ btn btn-default copy-current-command ]">
                                            <span class="[ glyphicon glyphicon-copy ]"></span>
                                        </button>
                                        <button type="button" class="[ btn btn-default ]">-1</button>
                                        <button type="button" class="[ btn btn-default ]">+1</button>
                                        <!-- <div class="input-placeholder">Add a comment...</div> -->
                                    </div>
                                    <div class="panel-google-plus-comment">
                                        <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                                        <div class="panel-google-plus-textarea">
                                            <textarea rows="4"></textarea>
                                            <button type="submit" class="[ btn btn-success disabled ]">Post comment</button>
                                            <button type="reset" class="[ btn btn-default ]">Cancel</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endblock %}

    {% block other-js %}
        <script type="text/javascript" src="/static/js/intro.min.js"></script>
        <script src="/static/js/hljs-9.8.0.min.js"></script>
        <script src="/static/lib/hljs.themes/bash.js"></script>
        <script>
            $(document).ready(function () {
                console.log(window.location.hash);
                // get user's ip address as a global variable
                var ip_address = '';
                $.get("http://ipinfo.io", function(response) {
                    ip_address = response.ip;
                    $.get(`/remember_ip_address`, {ip_address: ip_address});
                    console.log('IP Address for study session logged: ' + ip_address);
                }, "jsonp");

                $(".nl-request-input").focus();

                $(".nl_request_link").click(function() {
                    // show waiting icon
                    $("body").addClass("loading");
                    var nl_request = $(this).text();
                    window.location.replace(`translate?request_str=${nl_request_str}&ip_address=${ip_address}`);
                });

                $(".expand-translation-instance").click(function() {
                    var nl_request_str = $(this).parent().parent().find('.panel-request').find('.nl-request').text();
                    console.log(nl_request_str);
                    window.location.replace(`translate?request_str=${nl_request_str}&ip_address=${ip_address}`);
                });
            });
        </script>
    {% endblock %}
